@font-face {
    font-family: "Raleway reg";
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Raleway bold";
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Raleway medium";
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "gilroy";
    src: url(../fonts/Gilroy-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "gilroy m";
    src: url(../fonts/Gilroy-Medium.ttf);
    font-weight: 500;
}