@import url(fonts.css);

:root {
    --weighted-font: "Raleway bold";
    --thin-font: "Raleway reg";
    --medium-font: "Raleway medium";
    --num-font: "poppins";
    --card-font: "gilroy";
    --medium-gilroy: "gilroy m";
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1375px;
    width: 100%;
    margin: 0 auto;
}

.main__title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 2vw;
    line-height: 43px;
    color: #1147AB;
}

body {
    font-family: var(--thin-font);
    background: #F5F5F5;
}

body.active {
    overflow: hidden;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.my__btn i {
    font-size: 24px;
}

.my__btn {
    max-width: 144px;
    width: 100%;
    border: 1px solid #1147AB;
    font-family: var(--thin-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1147AB;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}



.my__btn:hover {
    color: #fff;
}

.my__btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0D308B;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 0.7s;
}

.my__btn:hover:before {
    transform: rotate(0deg);
}


/* Nav styling */
nav {
    position: fixed;
    width: 100%;
    background: #ffffff;
    top: 0;
    left: 0;
    padding: 29px 0 19px 0;
    z-index: 7;
    margin-bottom: 87px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 30px;
}


.nav__link {
    font-family: var(--thin-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #000000;
}

.nav__brand {
    display: flex;
    align-items: center;
}

.nav__brand-block {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.nav__num {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;

    color: #1147AB;
}

.nav__num-about {
    font-family: var(--weighted-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: end;
    text-transform: uppercase;
    color: #000000;
    margin-right: 2px;
}

/* .nav__menu:hover .nav__menu-line::after{
    transform: rotate(45deg);
    top: 0;
}
.nav__menu:hover .nav__menu-line::before{
    transform: rotate(-45deg);
    top: 0;
}
.nav__menu:hover .nav__menu-line{
    opacity: 0;
    
} */

.nav__menu.active .nav__menu-line::after {
    transform: rotate(45deg);
    top: 0;
}

.nav__menu.active .nav__menu-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.nav__menu.active .nav__menu-line {
    background: transparent;
}

.nav__menu {
    width: 30px;
    height: 30px;
    display: none;
}

.nav__menu-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    top: -10px;
    left: 0;
    transition: all .4s;
}

.nav__menu-line::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    top: 10px;
    left: 0;
    transition: all .4s;
}

.nav__menu-line {
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
    transition: all .1s;
}

/* nav end */


/* header styling */
header {
    margin: 0 auto;
    margin-top: 87px;
    min-height: 100vh;
    height: 100%;

}

.header__playlist {
    position: fixed;
    max-width: 1200px;
    width: 100%;
   min-height: 50vh;
   height: 100%;
    top: 111px;
    left: 89px;
    display: flex;

    background: #333333;
    z-index: 5;
    transform: translateX(-120%);
    transition: all .4s;
}

.header__playlist.active {
    transform: translate(0%);
}

.header__playlist-modal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #fff;
    width: 100%;
    column-gap: 78px;
    padding: 56px 111px 50px 144px;
    row-gap: 67px;
}


.header__playlist-block {
    display: flex;
    flex-direction: column;
}

.header__playlist-title {
    font-family: var(--card-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: #072F95;
    margin-bottom: 20px;
}

.header__playlist-line {
    width: 100%;
    height: 1px;
    background: #8389BF;
    margin-bottom: 20px;
}

.header__playlist-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.header__playlist-link {
    font-family: var(--medium-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #072F95;
}



.header-container {
    min-height: 100vh;
    height: 100%;
    display: flex;

}

.header__title {
    margin-right: 52px;
    font-family: var(--num-font);
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 135px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.header__title::after {
    content: '';
    width: 74px;
    position: absolute;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: -19px;
}

.header__menu {
    width: 34px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.header__navbar.active .header__controls {
    display: none;
}

.header__navbar.active {
    background: #333333;
    position: fixed;
    top: 63px;
    left: 89px;
}

.header__brand.active .header__navbar {
    background: #333333;
}

.header__brand.active {
    background: #FFFFFF;
}

.header__brand.active .header__menu-line::after {
    transform: rotate(45deg);
    top: 0;
    background: #000;
}

.header__brand.active .header__menu-line::before {
    transform: rotate(-45deg);
    top: 0;
    background: #000;
}

.header__brand.active .header__menu::after {
    background: transparent;
}

.header__brand.active .header__menu-line {
    background: transparent;
}

.header__link {
    transition: all .4s;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link:hover {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}

.header__lang {
    font-family: var(--weighted-font);
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__icon {
    color: #fff;
    transition: all .4s;
    font-size: 20px;
}

.header__menu::after {
    content: '';
    height: 2px;
    width: 99%;
    position: absolute;
    top: 1px;
    left: 0;
    background: #fff;
    transition: all .4s;

}

.header__menu-line::after {
    content: '';
    height: 2px;
    width: 85%;
    position: absolute;
    top: -5px;
    left: 0;
    background: #fff;
    transition: all .4s;
}

.header__menu-line::before {
    content: '';
    height: 2px;
    width: 85%;
    position: absolute;
    top: 5px;
    left: 0;
    background: #fff;
    transition: all .4s;
}

.header__menu-line {
    width: 34px;
    height: 2px;
    background: #fff;
    border-radius: 40px;
    position: relative;
    transition: all .4s;
}

.header__eye {
    padding: 33px 28px;
}

.header__navbar {

    max-width: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 39px;
    margin-top: 48px;
    z-index: 6;
    transition: all .4s;

}

.header__nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    row-gap: 50px;
}

.header__block {
    max-width: 800px;
    width: 100%;
    height: 110vh;
    position: relative;
    position: relative;
    background: rgba(0, 0, 0, 0.6);

    display: flex;

    justify-content: end;
    align-items: center;
}

.header__block-content {
    display: flex;
    align-items: start;
    justify-content: flex-end;

}

.header__about {
    max-width: 399px;
    width: 100%;
}

.header__about-title {
    max-width: 313px;
    width: 100%;
    font-family: var(--weighted-font);
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 63px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.header__about-title span {
    color: #508BFF;
}

.header__block-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

}

.header__about-txt {
    font-family: var(--medium-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.header__btn {
    border: 1px solid rgba(255, 255, 255, 0.56);
    color: rgba(255, 255, 255, 0.56);
    max-width: 220px;
    width: 100%;
    padding: 21px 0;
    transition: all .4s;
}

.header__btn:hover {
    color: #0047FF;
}

.header__btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 0.7s;
}

.header__btn:hover:before {
    transform: rotate(0deg);
}

.header__part {
    max-width: 266px;
    width: 100%;
    height: 110vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    background: linear-gradient(180.93deg, #0B0A6A -67.69%, rgba(157, 4, 4, 0.561458) 33.22%, rgba(0, 0, 0, 0.7) 115.1%);
}

.header__controls img {
    margin-bottom: 30px;
}



.header__part:nth-of-type(3) {
    background: linear-gradient(180deg, rgba(243, 182, 8, 0) -6.78%, rgba(161, 121, 6, 0.7) 36.59%, #000000 143.52%);
}

.header__part:nth-of-type(4) {
    background: linear-gradient(180deg, rgba(17, 71, 171, 0) -33.05%, #1147AB 120.04%);
}

.header__part-title {
    max-width: 237px;
    width: 100%;
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 47px;
    line-height: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);

    padding-left: 100px;
}

.header__part-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* header end */



/* news start */

.news__top {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 70px;
}

.news__top::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(3, 63, 67, 0.2);
    bottom: -15px;
    left: 0;
}

.news__top::before {
    position: absolute;
    content: '';
    width: 20%;
    height: 2px;
    background: #1147AB;
    bottom: -15px;
    left: 0;
}

.news__btn {
    padding: 12px 0 14px 0;
    font-family: var(--weighted-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #1147AB;
}

.news__content {
    margin-bottom: 100px;
}

.news__introduce {
    min-height: 617px;
    height: 100%;
    max-width: 664px;
    width: 100%;
    position: relative;
    background: linear-gradient(360.07deg, #000000 -26.99%, rgba(20, 20, 20, 0.705248) 10.43%, rgba(56, 56, 56, 0.569779) 27.62%, rgba(0, 0, 0, 0) 99.94%);

    margin-bottom: 100px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.news__introduce-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.news__title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 2vw;
    line-height: 43px;
    color: #1147AB;
}

.news__introduce-title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    max-width: 531px;
    width: 100%;
    margin-bottom: 37px;
}

.news__introduce-data {
    font-family: var(--thin-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    margin-bottom: 50px;
    transform: translateX(-220px);
}

.news__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}

.news__blocksystem {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.news__block {
    position: relative;
}

.news__block-line {
    height: 95%;
    background: #960707;
    width: 3px;
    top: 0;
    position: absolute;
    left: 1px;

}

.news__block:nth-of-type(2) .news__block-line {
    background: #CFA93E !important;
}

.news__block:nth-of-type(3) .news__block-line {
    background: #1147AB !important;
}

.news__block .news__block-subtitle {

    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #960707;
    margin-bottom: 3px;
}

.news__block:nth-of-type(2) .news__block-subtitle {
    color: #CFA93E !important;
}

.news__block:nth-of-type(3) .news__block-subtitle {
    color: #1147AB !important;
}

.news__block-img {
    max-width: 224px;
    width: 100%;
    min-height: 126px;
    height: 100%;
}

.news__block {
    max-width: 685px;
    width: 100%;
    padding-left: 22px;
}

.news__block-title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
    max-width: 417px;
    width: 100%;
}

.news__block:nth-of-type(3) .news__block-title {
    max-width: 403px;
    width: 100%;
}


.news__block-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.news__block-data {
    font-family: var(--thin-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #333333;
    opacity: 0.6;
    justify-self: end;
}

/*news end  */

/* laboratories start */
.laboratories__blocksystem {
    display: grid;
    grid-template-columns: repeat(2, 685px);
    grid-template-rows: repeat(2, 420px);
}



.laboratories__block {
    position: relative;
    max-width: 685px;
    width: 100%;
    min-height: 417px;
    height: 100%;
    background: linear-gradient(360.89deg, rgba(0, 0, 0, 0.86) 0.1%, rgba(0, 0, 0, 0) 99.9%), #cfc13e42;
    display: flex;
    justify-content: center;
    align-items: end;
}



.laboratories__block-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.laboratories__block:nth-of-type(1) {
    background: none;
    padding: 0 75px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.laboratories__block:nth-of-type(3) {
    background: linear-gradient(360.89deg, rgba(0, 0, 0, 0.86) 0.1%, rgba(0, 0, 0, 0) 99.9%), #fa6d6d49;

}

.laboratories__block:nth-of-type(4) {
    background: linear-gradient(360.89deg, rgba(0, 0, 0, 0.86) 0.1%, rgba(0, 0, 0, 0) 99.9%), rgba(17, 71, 171, 0.473);
}

.laboratories__line {
    width: 100%;
    height: 1px;
    background: rgba(3, 63, 67, 0.2);
    margin-bottom: 28px;
    position: relative;
}

.laboratories__line::after {
    content: '';
    width: 50%;
    height: 2px;
    top: 0;
    left: 0;
    position: absolute;
    background: #1147AB;
}


.laboratories__block-title {
    font-family: var(--weighted-font);
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    padding: 0 0 46px 51px;
}

.laboratories__title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    margin-bottom: 19px;
}

.laboratories__txt {
    font-family: var(--medium-font-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #000000;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    max-width: 609px;
    width: 100%;
}

/* laboratories  end */

/* projects start  */

.projects {
    margin-top: 83px;
    margin-bottom: 166px;
}

.projects__blocksystem {
    display: flex;
    justify-content: space-evenly;
}

.projects__top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(3, 63, 67, 0.2);
    bottom: -16px;
    left: 0;
}

.projects__top::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background: #1147AB;
    bottom: -16px;
    left: 0;
}

.projects__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 90px;
}

.projects__btn {
    padding: 12px 0 14px 0;
}

.projects__block {
    max-width: 344px;
    width: 100%;
    min-height: 407px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 19.0776px 20.9854px 22.8931px #860808;
    padding: 43px 26px 0 31px;
    position: relative;

}



.read__more {
    max-width: 349px;
    width: 100%;
    min-height: 435px;
    height: 100%;
    background: #960707;
    position: absolute;
    bottom: -64px;
    right: -31px;
    z-index: -1;
    display: flex;
    align-items: end;
    padding: 0 0 23px 31px;
    font-family: var(--card-font);
    font-weight: 900;
    font-size: 16.7868px;
    line-height: 21px;
    letter-spacing: 0.95388px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.projects__block:nth-of-type(2) {
    box-shadow: 19.0776px 20.9854px 22.8931px #E2B43C;
}

.projects__block:nth-of-type(2) .read__more {
    background: #FFD25E;
}

.projects__block:nth-of-type(3) {
    box-shadow: 19.0776px 20.9854px 22.8931px #1147AB;
}

.projects__block:nth-of-type(3) .read__more {
    background: #1147AB;
}

.projects__block-img {
    margin-bottom: 20px;
}

.projects__block-txt {
    font-family: var(--medium-font);
    font-weight: 500;
    font-size: 22px;
    line-height: 154%;
    letter-spacing: 0.5px;
    color: #000000;
    max-width: 287px;
    width: 100%;

}

/* projects end */

/* experience start */

.experience__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 62px;
}

.experience__top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(3, 63, 67, 0.2);
    bottom: -16px;
    left: 0;

}

.experience__top::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background: #1147AB;
    bottom: -16px;
    left: 0;

}

.experience__btn {
    padding: 12px 0 14px 0;
}

.experience__blocksystem {
    display: grid;
    grid-template-columns: repeat(4, 342px) 0;
    grid-template-rows: 129px 63px 119px 66px 94px 165px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 121px;
    overflow: hidden;
}

.experience__block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience__block-title {
    font-family: var(--medium-font);
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;

}

.experience__block-tx .experience__block-title {
    max-width: 239px;
    width: 100%;
}

.experience__block-sm {
    grid-area: 1 / 1 / 2 / 2;
    background: #85B0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience__block-fb {
    grid-area: 1 / 2 / 2 / 3;
}

.experience__block-im {
    grid-area: 2 / 1 / 6 / 2;
}

.experience__block-tx {
    grid-area: 2 / 2 / 6 / 3;
}

.experience__block-kv {
    grid-area: 1 / 3 / 4 / 4;
}

.experience__block-as {
    grid-area: 1 / 4 / 4 / 5;
    background: #F77E7E;
}

.experience__block-ln {
    grid-area: 4 / 3 / 6 / 5;
    background: #FFE195;
}

.experience__block-bn {
    grid-area: 6 / 1 / 7 / 2;
}

.experience__block-hn {
    grid-area: 6 / 2 / 7 / 3;
    background: #69E1BD;
}

.experience__block-dn {
    grid-area: 6 / 3 / 7 / 5;
}

/* experience end */

/*opinion start  */
.opinion__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 39px;
    margin-bottom: 104px;
}

.opinion__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 838px;
    width: 100%;

}

.opinion__left-introduce {
    max-width: 433px;
    width: 100%;

}

.opinion__left-title {
    margin-bottom: 19px;
}

.opinion__left-line {
    width: 100%;
    margin-bottom: 29px;
    height: 1px;
    background: rgba(3, 63, 67, 0.2);
    position: relative;
}

.opinion__left-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 2px;
    background: #1147AB;
}

.opinion__left-btn {
    padding: 12px 0 14px 0;
}


.opinion__scientists {
    display: flex;
    align-items: end;
    column-gap: 28px;
    margin-top: -139px;
}

.first-img {
    max-width: 208px;
    width: 100%;
}

.second-img {
    max-width: 254px;
    width: 100%;
    object-fit: cover;
}

.third-img {
    min-height: 555px;
    height: 100px;
    max-width: 326px;
    width: 100%;
    object-fit: cover;
    box-shadow: inset 19px -16px 64px rgba(0, 0, 0, 0.5), inset -19px 16px 64px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(10px 14px 140px rgba(0, 0, 0, 0.2))
}

.opinion__slide {
    position: relative;
    padding: 40px 0 0 30px;
    backdrop-filter: blur(20px);
}


.opinion__right-txt {
    font-family: var(--medium-font);
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.7px;
    color: #000000;
    max-width: 450px;
    width: 100%;
}


.swiper__txt {
    max-width: 446px;
    width: 100%;
    margin-bottom: 19px;
}

.opinion__slide::after {
    position: absolute;
    content: url(../img/quotes/qoute.png);
    top: 3px;
    left: 1px;

}

.opinion__slide::before {
    position: absolute;
    content: url(../img/quotes/qoute\ \(1\).png );
    bottom: 92px;
    right: 12px;
}

.swiper {
    margin: 100px auto;
    width: 517px;
    height: 555px;

}

.opinion__slide-btn {
    font-family: var(--medium-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #1147AB;
    margin-bottom: 47px;
}

.opinion__next {
    background: #fff;
    width: 45px;
    height: 45px;
}

.swiper__controls {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    box-shadow: 17px 15px 44px rgba(0, 0, 0, 0.33);
    column-gap: 30px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -88px;
    left: -177px;
    width: 45px;
    height: 45px;
    top: -30px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
    top: -30px;
}

.opinion__control:nth-of-type(1) {
    margin-left: 240px;
}

.opinion__control {
    width: 40px;
    height: 40px;
    padding: 18px 16px;
    font-size: none;
    border-radius: 50%;
    background: #fff;

}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 18px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: #000;

}

/* opinion end */



/* places start */

.places__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
    position: relative;
}

.places__top::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(3, 63, 67, 0.2);
}

.places__top::before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    height: 3px;
    width: 20%;
    background: #1147AB;
}

.places__title {
    max-width: 799px;
    width: 100%;
}

.places__btn {
    padding: 12px 0 14px 0;

}

.places__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.places__map {
    min-width: 907px;
    width: 100%;
    position: relative;
}

.svg {
    transform: scale(0.6);
    top: -584px;
    left: -531px;
    position: absolute;
    z-index: 1;

}

path {
    transition: .8s;
    fill: linear-gradient(180deg, #4E5C87 0%, #3C5686 100%);
}



path:hover {
    fill: dodgerblue;
    box-shadow: 0px 7px 0px #033F43;

}





.places__blocksystem {
    max-width: 451px;
    width: 100%;
    padding: 44px 67px 48px 57px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 40px 40px 130px rgba(0, 0, 0, 0.07);
}

.places__blocksystem-title {
    font-family: var(--weighted-font);
    font-weight: 800;
    font-size: 30px;
    line-height: 134.1%;
    color: #1147AB;
}

.places__blocksystem-subtitle {
    color: #0047FF;
    font-size: 20px;
    margin-bottom: 55px;
}

.places__bottom {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.places__block {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.places__block:nth-of-type(1)::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: #E7E7E7;
    border-radius: 50%;
    left: 43%;
    top: 399px;
}

.places__block:nth-of-type(1)::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: #E7E7E7;
    border-radius: 50%;
    left: 43%;
    top: 198px;
}

.places__bottom::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: #E7E7E7;
    border-radius: 50%;
    left: 43%;
    top: 30px;
}

.places__bottom::after {
    height: 70%;
    content: '';
    position: absolute;
    width: 2px;
    background: #E7E7E7;
    left: 45%;
    top: 34px;
}

.node__img {
    margin-bottom: 100px;
}

.places__block-title {
    width: 100%;
    font-family: var(--thin-font);
    font-weight: 300;
    font-size: 48.34px;
    color: #000000;
    max-width: 134px;
}

.places__block-subtitle {
    font-family: var(--medium-gilroy);
    font-weight: 500;
    font-size: 18px;
    line-height: initial;
    color: #000000;
    margin-bottom: 86px;
    max-width: 134px;
    width: 100%;
    text-align: start;
}

.map {
    max-width: 907px;
    width: 100%;
    object-fit: cover;
}

.places__map {
    max-width: 907px;
    width: 100%;
    object-fit: cover;
}

.search__img {
    margin-bottom: 86px;
}

/* places end */

/* answers start  */

.answers__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 52px;
}

.answers__btn {
    padding: 12px 0 14px 0;
}

.answers__top::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: rgba(3, 63, 67, 0.2);
    bottom: -16px;
    left: 0;
}

.answers__top::before {
    content: '';
    width: 20%;
    position: absolute;
    height: 3px;
    background: #1147AB;
    bottom: -16px;
    left: 0;
}

.answers__left {
    max-width: 648px;
    width: 100%;
    position: relative;
}

.answers__left::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background: #1147AB;
    right: 0;
    top: 0;
}

.answers__introduce {
    background: #0D308B;
    padding: 19px 37px 25px 41px;
    margin-bottom: 22px;

}

.answers__introduce-title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #FFFFFF;
    max-width: 507px;
    width: 100%;

}

.answers__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 225px;
}

.answers__content::after {
    content: url(../img/background.png);
    position: absolute;
    top: -94px;
    left: -68px;
}

.answers__ways-title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 545px;
    width: 100%;
    margin-bottom: 35px;
}

.answers__content {
    align-items: start;
}

.answers__right {
    max-width: 685px;
    width: 100%;
}

.answers__right-title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #0E44A8;
}

.accordion-item {
    border-bottom: 1px solid #D1E0E1;
}

.accordion-body {
    border-bottom: 1px solid #D1E0E1;
}

.swiper__txt {
    font-family: var(--medium-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */

    letter-spacing: 0.5px;

    color: #000000;
    max-width: 661px;
    width: 100%;
}

.accordion {
    --bs-accordion-bg: none;
    --bs-accordion-border-color: none;
}

.book {
    width: 661px;
    height: 170px;
    margin: 0;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 15px;
    height: 2px;
    margin-left: auto;
    content: "";
    background: #000;
}

.accordion-collapse.active {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);

}


/* answers end  */


/* partners start */
.partners__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    position: relative;
}

.partners__top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.07);
    bottom: -16px;
    left: 0;
}

.partners__top::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background: #0B0A6A;
    bottom: -16px;
    left: 0;
}

.partners__btn {
    padding: 12px 0 14px 0;
}

.partners__block {
    max-width: 442px;
    width: 100%;
    background: #fff;
    box-shadow: 40px 40px 210px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 41px 28px 40px;
    column-gap: 20px;
}

.partners__block-title {
    font-family: var(--medium-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #000000;
}

.partners__content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 78px;
}

/* parters end */

/* footer start */

footer {
    background: #0B0A6A;
    padding: 50px 0 41px 0;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 258px);
    grid-template-rows: 1fr;
    margin-bottom: 67px;
    width: 100%;
    column-gap: 78px;

}

.footer__block {

    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__block-title {
    font-family: var(--card-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: #EFF3FE;
    margin-bottom: 20px;
}

.footer__block-line {
    width: 100%;
    height: 1px;
    background: #8389BF;
    margin-bottom: 20px;
}

.footer__block-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__link {
    font-family: var(--medium-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #BBC0D9;
}

.footer__block:nth-of-type(4) .footer__block-list {
    margin-bottom: 58px;
}

.footer__bottom-line {
    width: 100%;
    height: 1px;
    background: #8389BF;
    margin-bottom: 32px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
}

.footer__list-left {
    max-width: 141px;
    width: 100%;
}

.footer__bottom-list {
    display: flex;
    justify-content: space-between;
}

.footer__list-right {
    display: flex;
    align-items: center;


}

.footer__icon:hover {
    background: #fff;
    color: #0047FF;
}

.footer__icon {
    max-width: 36px;
    width: 100%;
    height: 36px;
    opacity: 0.6;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    margin-right: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all .4s;

}

.footer__icon:nth-of-type(2) {
    padding: 10px 17px;
}

.footer__icon:nth-of-type(4) {
    margin-right: 36px;
}

.footer__brand {
    display: flex;
    align-items: center;
    column-gap: 13px;
}