@import url(fonts.css);

:root {
    --weighted-font: "Raleway bold";
    --thin-font: "Raleway reg";
    --num-font: "poppins";
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1375px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: var(--thin-font);
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    max-width: 144px;
    width: 100%;
    border: 1px solid #1147AB;
    font-family: var(--thin-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #1147AB;
}

/* Nav styling */
nav {
    position: fixed;
    width: 100%;
    background: #ffffff;
    top: 0;
    left: 0;
    padding: 29px 0 19px 0;
    z-index: 1;
    margin-bottom: 87px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 30px;
}


.nav__link {
    font-family: var(--thin-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #000000;
}

.nav__brand {
    display: flex;
    align-items: center;
}

.nav__brand-block {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.nav__num {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;

    color: #1147AB;
}

.nav__num-about {
    font-family: var(--weighted-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: end;
    text-transform: uppercase;
    color: #000000;
    margin-right: 2px;
}

/* .nav__menu:hover .nav__menu-line::after{
    transform: rotate(45deg);
    top: 0;
}
.nav__menu:hover .nav__menu-line::before{
    transform: rotate(-45deg);
    top: 0;
}
.nav__menu:hover .nav__menu-line{
    opacity: 0;
    
} */

.nav__menu.active .nav__menu-line::after {
    transform: rotate(45deg);
    top: 0;
}

.nav__menu.active .nav__menu-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.nav__menu.active .nav__menu-line {
    background: transparent;
}

.nav__menu {
    width: 30px;
    height: 30px;
    display: none;
}

.nav__menu-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    top: -10px;
    left: 0;
    transition: all .4s;
}

.nav__menu-line::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    top: 10px;
    left: 0;
    transition: all .4s;
}

.nav__menu-line {
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
    transition: all .1s;
}

/* nav end */


/* header styling */
header {
    margin-top: 87px;
    min-height: 120vh;
    height: 100%;
}

.header-container {
    position: absolute;
    height: 120vh;
    width: 100%;
    /* Safari */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.header-title {
    color: #f1f1f1;
    position: relative;
    font-size: 4vw;
    margin: auto;
    text-align: left;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 31%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;


    font-weight: 900;
    font-family: var(--weighted-font);


}

.header__title-home {
    position: absolute;

}

.header__title-about {
    top: 34%;
}

.header__title-work {
    top: 30%;
}

.header__title-contact {
    top: 34%;
}

.header-title span {
    transition: all .4s;
}

.header-slide.active {
    display: flex;
    justify-content: center;



}

.header-slide.active .header-title {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
}

.header-slide.active .header-title span {
    color: #508BFF;

}

.header-about {
    display: flex;
}

.header__num {
    font-family: var(--num-font);
    font-weight: 500;
    font-size: 90px;
    line-height: 135px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.header-slide {
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    -webkit-box-flex: 1;
    flex: 1;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative;
}

.header-slide.active {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}

.header-slide.active .header-title {
    transform: rotate(0);
    top: 10%;
}

.header-slide.active .header-about {
    opacity: 1;
}

.header__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;

}

.home {
    height: 120vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    background-attachment: fixed;
    display: flex;
    justify-content: end;
}

.home.active .header-title {
    font-size: 5vw;
}

@media screen and (min-width: 768px) {
    .home {
        -webkit-animation: aboutFlexSlide 3s 1;
        animation: aboutFlexSlide 3s 1;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
}

/* @-webkit-keyframes aboutFlexSlide {
    0% {
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    50% {
        -webkit-box-flex: 3;
        flex-grow: 3;
    }

    100% {
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
}

@keyframes aboutFlexSlide {
    0% {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    50% {
        -webkit-box-flex: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
    }

    100% {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}
 */
@media screen and (min-width: 768px) {
    .header-title-home {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 34%;
        -webkit-animation: aboutFlexSlide 3s 1;
        animation: aboutFlexSlide 3s 1;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

}

@-webkit-keyframes homeFlextitle {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 15%;
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 15%;
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 15%;
    }
}

@keyframes homeFlextitle {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 15%;
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 15%;
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 15%;
    }
}

.header-about-home {
    opacity: 0;
}

@media screen and (min-width: 768px) {
    .header-about-home {
        -webkit-animation: aboutFlexSlide 3s 1;
        animation: aboutFlexSlide 3s 1;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
}

@-webkit-keyframes flexAboutHome {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes flexAboutHome {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.about {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(180.93deg, #0B0A6A -67.69%, rgba(157, 4, 4, 0.561458) 33.22%, rgba(0, 0, 0, 0.7) 115.1%);
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: end;
}


.contact {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(180deg, rgba(17, 71, 171, 0) -33.05%, #1147AB 120.04%);
    background-attachment: fixed;
    display: flex;
    justify-content: end;
}

.work {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(180deg, rgba(243, 182, 8, 0) -6.78%, rgba(161, 121, 6, 0.7) 36.59%, #000000 143.52%);
    background-attachment: fixed;
    display: flex;
    justify-content: end;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
    height: 100%;
    width: 100%;
    z-index: 11;
    margin-top: 0;
    color: #fff;
    font-size: 1em;
}

.cube1,
.cube2 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header-title {
        -webkit-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important;
        display: flex;
        flex-direction: column;
        top: 0%;
    }

    .header-about {
        padding: 0%;
        border: 0px solid #f1f1f1;
    }

    .header-slide {
        overflow: auto;
        overflow-x: hidden;
    }

    .header-slide p {
        font-size: 2em;
    }

    .header-slide ul li {
        font-size: 2em;
    }
}


/* header end */



/* news start */

.news__top {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 70px;
}

.news__top::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(3, 63, 67, 0.2);
    bottom: -15px;
    left: 0;
}

.news__top::before {
    position: absolute;
    content: '';
    width: 20%;
    height: 2px;
    background: #1147AB;
    bottom: -15px;
    left: 0;
}

.news__btn {
    padding: 12px 0 14px 0;
    font-family: var(--weighted-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #1147AB;
}

.news__content {
    margin-bottom: 100px;
}

.news__introduce {
    min-height: 617px;
    height: 100%;
    max-width: 664px;
    width: 100%;
    position: relative;
    background: linear-gradient(360.07deg, #000000 -26.99%, rgba(20, 20, 20, 0.705248) 10.43%, rgba(56, 56, 56, 0.569779) 27.62%, rgba(0, 0, 0, 0) 99.94%);

    margin-bottom: 100px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.news__introduce-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.news__title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 3vw;
    line-height: 43px;
    color: #1147AB;
}

.news__introduce-title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    max-width: 531px;
    width: 100%;
    margin-bottom: 37px;
}

.news__introduce-data {
    font-family: var(--thin-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    margin-bottom: 50px;
    transform: translateX(-220px);
}

.news__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}

.news__blocksystem {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.news__block{
    position: relative;
}
.news__block::after{
    content: '';
    height: 100%;
    background: #960707;
    width: 3px;
    position: absolute;
    top: 0;
    left: -35px;
}
.news__block:nth-of-type(2)::after{
    background: #CFA93E !important;
}
.news__block:nth-of-type(3):after{
    background: #1147AB !important;
}

.news__block .news__block-subtitle {

    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #960707;
    margin-bottom: 3px;
}
.news__block:nth-of-type(2) .news__block-subtitle {
    color: #CFA93E !important;
}
.news__block:nth-of-type(3) .news__block-subtitle {
    color: #1147AB !important;
}
.news__block-img{
    max-width: 224px;
    width: 100%;
    min-height: 126px;
    height: 100%;
}
.news__block-title {
    font-family: var(--weighted-font);
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
    max-width: 417px;
    width: 100%;
}
.news__block:nth-of-type(3) .news__block-title {
    max-width: 403px;
    width: 100%;
}


.news__block-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.news__block-data {
    font-family: var(--thin-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #333333;
    opacity: 0.6;
   justify-self: end;
}